{% extends "base.html" %}
{%block content %}
<section id="projects" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
		<h2>Listing your Projects in M3Database</h2>                
	<p align="center"><table border=1>
		<tr><th>Project Name</th><th>PI Name</th><th>Contact E-Mail</th><th>Description</th><th>Select Project</th></tr>
		
{%for project in projects%}
		<form method="post" action="{% url 'viewProject' %}"><tr><td>{{project.name}}</td><td>{{project.pi_name}}</td><td>{{project.e_mail}}</td><td>{{project.description}}</td><td><button class="btn" name="project_id" value="{{project.project_id}}" type="submit">SELECT PROJECT</button></td></td></tr>
		{% csrf_token %}
		</form>
{%endfor%}
	
	</table></p>
	
		
	
	   </div>
	</div>
</section>

{%endblock%}
