{% extends "base.html" %}
{%block content %}
<section id="viewsample" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
            
			{% if results %}
			<p align="center"><table border=1>
				<h2>Displaying Samples in the selected Experiment: {{results.0.exp_id}}</h2>
				<tr><th>Sample ID</th><th>Sample Name</th><th>Index 1</th><th>Index 2</th><!--<th>Plate</th><th>Well</th>--></tr>
					{%for sample in results%}
					<tr><td>{{sample.sample_id}}</td><td>{{sample.name}}</td><td>{{sample.index1}}</td><td>{{sample.index2}}</td><!--<td>{{sample.plate}}</td><td>{{sample.well}}</td> -->
					</tr>
					{%endfor%}
			</table></p>
		</div>
	</div>
</section>
			{% else %}
			<h2>Select Experiment to View Associated Sample Data</h2>
			<form method='POST' action='{% url 'viewSample' %}'>
			{% csrf_token %}
			<p align="center">
			<table>
				{{form.as_table}}
			</table></p>
			<input type='submit'/>
			</form>
			</div>
		</div>
</section>
			{% endif %}
{%endblock%}
